*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
span {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  background-image: linear-gradient(#b4e0e7, #5dd3e8);
  height: 100%;
  color: #1e1811
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.3rem;
}

.wrapper,
output {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 36px;
  margin-top: 24px;
}

output {
  width: 100%;
  padding: 0 150px;
}

output > h1 {
  margin-top: 24px;
}

output > h2 {
  font-weight: normal;
}

section {
  margin-top: 32px;
}

.overview {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;

  padding: 12px 34px 21px 45px;
  margin-left: 30px;
}

.border {
  border: 3px solid black;
  border-radius: 36px;
}

.overview > img {
  --icon-size: 100px;
  width: var(--icon-size);
  height: var(--icon-size);
}

.current-conditions {
  text-align: center;
}

.current-conditions > h2 {
  font-size: 3.4rem;
}

#conditions {
  font-size: 1.2rem;
  font-weight: 600;
}

.range {
  line-height: 2;
  font-size: 1.1rem;
  width: 250px;
  
}

.range > * {
  font-size: inherit;
}

.stats {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  row-gap: 12px;

  text-align: center;
}

.stats > div > div {
  font-size: 1.5rem;
}

