*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
span {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  --secondary-color: #1e1811;
  background-image: linear-gradient(#b4e0e7, #5dd3e8);
  color: var(--secondary-color);
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper,
output {
  flex-direction: column;
  max-width: 1050px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 36px;
  margin-top: 24px;
}

.location-wrapper {
  margin-top: 24px;
}

section {
  margin-top: 20px;
}

.overview {
  gap: 65px;
  padding: 12px 24px 21px 45px;
  border: 3px solid var(--secondary-color);
  border-radius: 36px;
}

.overview > img {
  --icon-size: 100px;
  width: var(--icon-size);
  height: var(--icon-size);
}

.range {
  line-height: 2;
  width: 250px;
}

.stats {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  gap: 32px 42px;
}

.forecast-card-holder {
  flex-wrap: wrap;
  gap: 16px;
  width: 850px;
  margin: 16px 0 26px 0;
}

.card {
  display: grid;
  grid-template-rows: 30px 130px 30px;
  align-items: center;
  gap: 12px;

  width: 185px;
  padding: 16px 24px 20px 24px;
  border-radius: 24px;
  border: 2px solid var(--secondary-color);
}

/* Font sizes */
h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.3rem;
}

.date-wrapper {
  font-weight: normal;
}

.current-conditions > h2 {
  font-size: 3.4rem;
}

#conditions {
  font-size: 1.2rem;
  font-weight: 600;
}

.range > div {
  font-size: 1.3rem;
}

.stats > div > div {
  font-size: 1.5rem;
}