*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
span {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  --main-color: #E0EFEA;
  --secondary-color: #564734;
  --tertiary-color: #8EA076;

  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 24px 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background-color: var(--main-color);
  border-radius: 25px;
  border: 3.9px solid var(--secondary-color);
}

.wrapper,
output {
  flex-direction: column;
  max-width: 1050px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 36px;
  margin-top: 24px;
}

#location {
  color: var(--secondary-color);
  width: 200px;
  border-radius: 8px;
  padding-left: 6px;
  vertical-align: middle;
}

button {
  color: var(--secondary-color);
  vertical-align: middle;
  border-radius: 8px;
}

#unit {
  padding: 1px 12px;
}

.location-display-wrapper {
  margin-top: 24px;
}

section {
  margin-top: 20px;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  padding: 12px 0px 21px 0px;
  border: 3px solid var(--secondary-color);
  border-radius: 36px;
  width: 750px;
}

.overview > img {
  --icon-size: 100px;
  width: var(--icon-size);
  height: var(--icon-size);
}

.range {
  line-height: 1.65;
  padding-top: 12px;
  width: 250px;
}

.stats {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  gap: 32px 42px;
}

.forecast-card-holder {
  flex-wrap: wrap;
  gap: 16px;
  width: 850px;
  margin: 16px 0 32px 0;
}

.card {
  display: grid;
  grid-template-rows: 30px 130px 30px;
  align-items: center;
  gap: 12px;

  width: 185px;
  padding: 16px 24px 20px 24px;
  border-radius: 24px;
  border: 2px solid var(--secondary-color);
}

/* Font sizes */
h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.3rem;
}

.date-wrapper {
  font-weight: normal;
}

.current-conditions > h2 {
  font-size: 3.4rem;
}

#conditions {
  font-size: 1.2rem;
  font-weight: 600;
}

.range > div {
  font-size: 1.3rem;
}

.stats > div > div {
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.loader-wrapper {
  padding: 24px;
}

.loader {
  animation: spin 2s linear infinite;
  width: 120px;
  height: 120px;
  border: 16px solid #746a5c;
  border-top: 16px solid #bdde92;
  border-radius: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}